.banner{
    height: 90vh;
}

@media screen and (max-width: 745px) {
    .banner{
        flex-direction: column;
        height: 60vh;
        
    }
    .banner-img{
        width: 100% !important;
        order: 1;
    }
    .banner-text{
        width: 100% !important;
        order: 2;
        text-align: center;
    }
    .form{
        width: 100%!important;
    }
}